.back-shadow1 {
    filter: drop-shadow(0 0 2px #ff8800);
  }
  .back-shadow2 {
    filter: drop-shadow(0 0 2px #002fff);
  }
  .back-shadow3 {
    filter: drop-shadow(0 0 2px #ff00d4);
  }
  .back-shadow4 {
    filter: drop-shadow(0 0 2px #ffe600);
  }
  .back-shadow5 {
    filter: drop-shadow(0 0 2px #8400ff);
  }
  .back-shadow6 {
    filter: drop-shadow(0 0 2px #0011ff);
  }
  .back-shadow7 {
    filter: drop-shadow(0 0 2px #8400ff);
  }
  .back-shadow8 {
    filter: drop-shadow(0 0 2px #00a2ff);
  }
  .back-shadow9 {
    filter: drop-shadow(0 0 2px #272625);
  }
  .back-shadow10 {
    filter: drop-shadow(0 0 2px #008cff);
  }

.card-transition{
  transition: 1s;
}

.card-shadow1{
  box-shadow: #d85314 0px 1px 0px, #d85314 0px 1px 0px inset;
}

.card-shadow2{
  box-shadow: #2662ea 0px 1px 0px, #2662ea 0px 1px 0px inset;
}

.card-shadow3{
  box-shadow: #ac2a69 0px 1px 0px, #ac2a69 0px 1px 0px inset;
}

.card-shadow4{
  box-shadow: #facc15 0px 1px 0px, #facc15 0px 1px 0px inset;
}

.card-shadow5{
  box-shadow: #a855f7 0px 1px 0px, #a855f7 0px 1px 0px inset;
}

.card-shadow6{
  box-shadow: #403975 0px 1px 0px, #403975 0px 1px 0px inset;
}

.card-shadow7{
  box-shadow: #7e22ce 0px 1px 0px, #7e22ce 0px 1px 0px inset;
}

.card-shadow8{
  box-shadow: #3b82f6 0px 1px 0px, #3b82f6 0px 1px 0px inset;
}

.card-shadow9{
  box-shadow: #1f2937 0px 1px 0px, #1f2937 0px 1px 0px inset;
}

.card-shadow10{
  box-shadow: #2563eb 0px 1px 0px, #2563eb 0px 1px 0px inset;
}