.btnNav:hover {
  background-color: #c029f03d !important;
  box-shadow: 20px 14px -6px #c029f0a3;
}
.logo-bg {
  background-color: #c029f03d !important;
  box-shadow: 20px 14px -6px #c029f0a3;
}
.btn .selected {
  border: 2px solid #c029f03d;
  background-color: aqua;
}
.shadowBox {
  box-shadow: 22px -53px 170px 15px rgba(198, 44, 231, 0.52);
  -webkit-box-shadow: 22px -53px 170px 15px rgba(198, 44, 231, 0.52);
  -moz-box-shadow: 22px -53px 170px 15px rgba(198, 44, 231, 0.52);
}
.btn {
  border: 2px solid #c029f03d;
  background-color: transparent;
}
/* .textMovable {
  animation: textMove 2s linear infinite;
}
@keyframes textMove {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(50%);
  }
} */
.BgWater {
  background-color: rgba(216, 100, 237, 0.505);
}
.logo {
  /* border-radius: 100%; */
  background-color: transparent;
}
.opacity0 {
  opacity: 0 !important;
}
