.form1 {
  position: relative;
  width: 20rem;
  height: 3rem;
}

.form2 {
  position: relative;
  width: 20rem;
  height: 8rem;
}

@media screen and (max-width: 370px) {
  .form1 {
    width: 15rem;
  }

  .form2 {
    width: 15rem;
  }
}

@media screen and (max-width: 295px) {
  .form1 {
    width: 100%;
  }

  .form2 {
    width: 100%;
  }
}

.input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid rgb(202, 26, 149);
  border-radius: 10px;
  font-family: sans-serif;
  font-size: 15px;
  color: white;
  outline: none;
  padding: 1.25rem;
  background: none;
  transition: 0.8s;

  &:hover {
    border-color: rgba(202, 26, 149, 0.74);
  }

  &:focus {
    border-color: rgba(202, 26, 149, 0.74);
  }
}

.label {
  position: absolute;
  left: 1rem;
  top: 0.75rem;
  padding: 0 0.4rem;
  color: white;
  font-size: 0.8rem;
  font-family: sans-serif;
  font-weight: bold;
  transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
  background-color: rgb(20,20,20);
  letter-spacing: 1px;
}

.input:focus ~ .label,
.input:not(:placeholder-shown).input:not(:focus) ~ .label {
  top: -0.6rem;
  font-size: 0.7rem;
  left: 0.9rem;
  font-weight: 6px;
}

.btn {
  transition: 0.8s;
  overflow: hidden;
  color: rgb(202, 26, 149);
  border: 3px solid rgb(202, 26, 149);
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: rgb(202, 26, 149);
  z-index: -1;
  transition: 1s;
}

.btn1:hover {
  color: #f3f3ec;
  transition: 0.1s;
}

.btn1::before {
  top: 0;
  border-radius: 0 0 50% 50%;
}

.btn1:hover::before {
  height: 180%;
}

.box {
  position: absolute;
  top: 56%;
  right: 45%;
  transform: translate(-50%, -50%);
}

.box span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 3px solid white;
  border-right: 3px solid white;
  transform: rotate(45deg);
  margin: -1px;
  animation: animate 2s infinite;
}

.box span:nth-child(2) {
  animation-delay: -0.2s;
}

.box span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

.box-shadow {
  box-shadow: rgba(202, 26, 149, 0.363) 0px 2px 4px 0px,
    rgba(202, 26, 149, 0.363) 0px 2px 16px 0px;
  animation: breathe 3s linear infinite;
}

@keyframes breathe {
  0% {
    transform: scale(1);
    box-shadow: rgba(202, 26, 149, 0.363) 0px 2px 4px 0px,
      rgba(202, 26, 149, 0.363) 0px 2px 16px 0px;
  }
  50% {
    transform: scale(1.1);
    box-shadow: rgba(202, 26, 149, 0.363) 0px 8px 24px, rgba(202, 26, 149, 0.363) 0px 16px 56px, rgba(202, 26, 149, 0.363) 0px 24px 80px;
  }
  100% {
    transform: scale(1);
    box-shadow: rgba(202, 26, 149, 0.363) 0px 2px 4px 0px,
      rgba(202, 26, 149, 0.363) 0px 2px 16px 0px;
  }
}

.bg-left-right{
  background-color: rgba(255, 255, 255, 0.1);
}

.text-left-right {
  position: absolute;
  /* top: 30%;  */
  /* right: 0%; */
  /* transform: translate(50%,-50%); */
  text-transform: uppercase;
  font-family: verdana;
  font-size: 3.8em;
  font-weight: 700;
  color: rgb(202, 26, 149);
  text-shadow: 1px 1px 1px #f5f0f07a,
      1px 2px 1px #f5f0f079,
      1px 3px 1px #f5f0f079,
      1px 4px 1px #f5f0f079,
      1px 5px 1px #f5f0f079,
      1px 6px 1px #f5f0f079,
      1px 7px 1px #f5f0f079,
      1px 8px 1px #f5f0f079,
      1px 9px 1px #f5f0f079,
      1px 10px 1px #f5f0f079,
  1px 18px 6px rgba(202, 26, 149, 0.514),
  1px 22px 10px rgba(202, 26, 149, 0.514),
  1px 25px 35px rgba(202, 26, 149, 0.514),
  1px 30px 60px rgba(202, 26, 149, 0.514);
}

.form-btn{
  background-color: rgb(202, 26, 149);
}

.form-btn:hover{
  background-color: rgba(202, 26, 149, 0.74);
}

.img-shadow{
  box-shadow: rgba(244, 248, 18, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}