@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&family=Playfair+Display:wght@400;500;600&family=Poppins:wght@400;500;600&display=swap");
:root {
  --font-family: "Kalam", cursive;
  --font-family-serif: "Playfair Display", serif;
  --font-family-sanSerif: "Poppins", sans-serif;
}
body {
  font-family: var(--font-family-serif);
}

.h1C {
  font-size: 3rem;
}
.h2C {
  font-size: 2.5rem;
}
.pC {
  font-size: 1rem;
}

@media (max-width: 991px) {
  .h1C {
    font-size: calc(1vw + 1.4rem);
  }
  .h2C {
    font-size: calc(1vw + 1.2rem);
  }
  .pC {
    font-size: calc(0.5vw + 1rem);
  }
}
@media (max-width: 400px) {
  .h1C {
    font-size: calc(1vw + 1rem);
  }
  .h2C {
    font-size: calc(0.5vw + 1rem);
  }
  .pC {
    font-size: calc(0.5vw + 0.8rem);
  }
}
.bg-img1{
  background-image: linear-gradient(to right bottom, #044b75, #06436b, #073c62, #073458, #062d4f, #112a4c, #182649, #1d2345, #2a2245, #352143, #3f1f40, #471e3c);
  /* background-color: rgb(24, 23, 23); */
}
.bg-img2{
  /* background-image: linear-gradient(to right bottom, #044b75, #06436b, #073c62, #073458, #062d4f, #112a4c, #182649, #1d2345, #2a2245, #352143, #3f1f40, #471e3c); */
  background-color: rgb(46, 45, 45);
}

.bgTransparent {
  background-color: #ffffff14;
}
.cursiveText {
  font-family: var(--font-family);
}
