@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&family=Playfair+Display:wght@400;500;600&family=Poppins:wght@400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
:root {
  --font-family: "Kalam", cursive;
  --font-family-serif: "Playfair Display", serif;
  --font-family-sanSerif: "Poppins", sans-serif;
}
body {
  font-family: var(--font-family-serif);
}

.logo-text{
  font-family: 'Dancing Script', cursive;
}

.h1C {
  font-size: 3rem;
}
.h2C {
  font-size: 3rem;
}
.pC {
  font-size: 1rem;
}

@media (max-width: 991px) {
  .h1C {
    font-size: calc(1vw + 1.4rem);
  }
  .h2C {
    font-size: calc(1vw + 1.2rem);
  }
  .pC {
    font-size: calc(0.5vw + 0.6rem);
  }
}
@media (max-width: 400px) {
  .h1C {
    font-size: calc(1vw + 1.2rem);
  }
  .h2C {
    font-size: calc(1vw + 1.2rem);
  }
  .pC {
    font-size: calc(0.5vw + 0.8rem);
  }
}
.bg-img {
  background: rgb(2, 0, 36);
  background: -moz-linear-gradient(
    121deg,
    rgba(2, 0, 36, 1) 14%,
    rgba(50, 26, 79, 1) 60%,
    rgba(2, 0, 36, 1) 95%
  );
  background: -webkit-linear-gradient(
    121deg,
    rgba(2, 0, 36, 1) 14%,
    rgba(50, 26, 79, 1) 60%,
    rgba(2, 0, 36, 1) 95%
  );
  background: linear-gradient(
    121deg,
    rgba(2, 0, 36, 1) 14%,
    rgba(50, 26, 79, 1) 60%,
    rgba(2, 0, 36, 1) 95%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#020024",GradientType=1);
  background-size: cover;
}
.bg-light {
  background: rgb(238, 174, 202);
  background: -moz-radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeaeca",endColorstr="#94bbe9",GradientType=1);
  background-size: cover;
}

.cursiveText {
  font-family: var(--font-family);
}
.loop {
  animation: loopZoom 2s linear infinite;
}
@keyframes loopZoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
